<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="row">
    <div class="sm-col-12">
      <h3 contenteditable="true" style="font-family:BentonSans Medium; text-align:center; color:rgb(0,38,99);"><%= horas %>  :: <%= minutos %> :: <%= segundos %></h3>
      <hr style="border-top: dotted 2px;color:grey" />
      </div>
    </div>
  </body>
</html>
